.homepage{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.015);
}

.coversection{
    height : 24vh;
    margin-bottom: 0.3%;
}

.menusection{
    position: sticky;
    top : 0px;
    z-index: 100;
}

.tasksection{
    margin-left : 1%;
    margin-right: 1%;
    border-radius: 1%;
    border: 2px solid burlywood;
}