.plannerButton{
    border-color: transparent;
    font-size: 1vw;
    padding: 0.2vw;
    background-color: rgba(46, 40, 170, 0.784);
    border: 0;
    color : white;
    margin-right: 2vw;
    position: relative;
}

.menu1{
    background-color: transparent;
    padding: 0px;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    position: absolute;
    top: 42%;
    right: -1vw;
    font-size: 1vw;

}

.menuOptions1{
  position: absolute;
  background-color: white;
  color: rgba(0, 0, 0, 0.815);
  border-radius: 7%;
  border: 2px solid rgba(0, 0, 0, 0.281);
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 10;
  font-size: 80%;
  padding: 5% 5% 0% 5%;
  top : 105%;
  width: 130%;
}

.menuicon1:hover{
  color: rgb(0, 0, 0);
}

.menuicon1{
  font-size: 100%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
}

.menuName1{
  margin-left: 5%;
}

.plannerTitle{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 0px none;
  outline: none;
  font-size: 1vw;
}